.card {
  width: 361px;
  min-width: 361px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  position: relative;
}
.modal {
  align-items: center;
}
.card__product {
  width: 100%;
  height: 438px;
  padding: 30px 21px 18px 21px;

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card__product_modal {
  width: 100%;
  height: auto;
  padding: 30px 21px 18px 21px;

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card__img {
  width: 196px;
  height: 196px;
}
.card__img_modal-size {
  width: 400px;
  height: 400px;
}
.card__descr {
  width: 100%;
  height: 164px;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px 51px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card__descr_modal {
  width: 600px;
  height: auto;
}
.card__text {
  color: var(--textprimarycolor);
  font-weight: 500;
  font-size: 21px;
  line-height: 35px;
}
.card__description {
  margin-top: 20px;
}

.card__btn {
  width: 100%;
}
.modal-btn {
  width: 600px;
}
.card__discount {
  position: absolute;
  right: 19px;
  top: 13px;
  background-color: var(--primary);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.card__discount > p {
  width: 60%;
  text-align: center;
}
.card__discount_green {
  background-color: #10b981;
}
.card__discount_blue {
  background-color: #08bdbe;
}
.card__discount_purp {
  background-color: #845ec2;
}
.green {
  background-color: #ecfef4;
}
.blue {
  background-color: #c9f2ff;
}
.purp {
  background-color: #e5d5ff;
}
