:root {
  --textprimrycolor: #2b2626;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f5f5f5;
  width: 1440px;
  margin: 0 auto;
}
.header {
  width: 100%;
  display: flex;
  height: 180px;
  align-items: center;
  
}
.logo_name {
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
  display: inline-block;
  margin-left: 85px;
  text-decoration: none;
  color: #2b2626;
}
.shop {
  color: #10b981;
}
.searc_input_label {
  display: flex;
  align-items: center;
  width: 322px;
  height: 63px;
  position: relative;
  margin-right: 38px;
  margin-left: 169px;
}
.searc__input_btn {
  right: 13px;
  top: 12px;
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: #10b981;
  border-radius: 5px;
}
.placeholder {
  font-size: 16px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 322px;
  height: 63px;
  padding-left: 32px;
  outline: none;
}
.login__btn {
  display: flex;
  gap: 23px;
}
.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #10b981;
  border-radius: 30px;
  width: 299px;
  height: 60px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  background-color: #10b981;z
  border: 1px solid #10b981;
  border-radius: 30px;
  width: 299px;
  height: 60px;
}
nav {
  height: 81px;
  background-color: #10b981;
  display: flex;
  width: 100%;
  justify-content: center;
}
.navigations {
  list-style: none;
  display: flex;
  gap: 75px;
}
.navigation {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
a {
  cursor: pointer;
}
.discover {
  display: flex;
  justify-content: space-around;
  margin: 126px 85px 85px 85px;

}
.discover__title {  
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 600px;
  }
  .discover__title-text {
    color: #2b2626;
    font-size: 64px;
    width: 600px;
}
.discover__title-text::first-letter {
  color: #10b981;
      }
.lorem {
  color: #2b2626;
  font-size: 21px;
  width: 500px;
}

.buy {
  color: #ffffff;
  font-size: 21px;
  margin-top: 74px;
  background-color: #10b981;
  border-radius: 10px;
  width: 263px;
  height: 70px;
  cursor: pointer;
}
.reviews {
  display: flex;
  flex-direction: row;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 2px solid #ffffff;
  background: none;
  margin-top: 112px;
}
.review_2 {
  margin-left: -22px;
}
.review_3 {
  margin-left: -22px;
}
.review_4 {
  margin-left: -22px;
}
.well_reviews {
  font-size: 26px;
  margin-left: 35px;
  display: inline-block;
  width: 150px;
}
.read_beats {
  display: flex;

  margin-top: -47px;
  }

.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
}
.play_img {
  width: 69px;
  height: 69px;
  border-radius: 100%;
}
.play_text {
  font-size: 21px;
  border: none;
  color: var(--textprimrycolor);
  cursor: pointer;
  margin-top: 17px;
}
.products {
  background-color: #845ec2;
  height: 591px;
}
.products_text {
  display: inline-block;
  color: #845ec2;
  font-size: 60px;
  font-weight: bold;
  line-height: 74px;
  text-shadow: 0px 0px 2px #ffffff;
  margin-top: 73px;
  margin-left: 90px;
}
.product {
display: flex;
}
.product_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 623px;
  margin: 37px 0px 0px 85px;
}
.airpod_2 {
  margin-top: -132px;
}

.products_our {
  margin: 0 auto;
}
.products_our_h2 {
  font-size: 44px;
  line-height: 54px;
  font-style: normal;
  color: #ffffff;
  width: 559px;
}
.products_lorem {
  width: 500px;
  color: #ffffff;
  font-size: 21px;
  margin-top: 10px;
  line-height: 35px;
}
.btn_add {
  color: #ffffff;
  font-size: 21px;
  background-color: #10b981;
  width: 263px;
  height: 70px;
  cursor: pointer;
}
.btn_margine {
  margin: 35px 0 0 0;
}
.btn__add__products {
  border-radius: 10px;
  cursor: pointer;
}
.more {
  background-color: transparent;
  color: #f5f5f5;
  font-size: 21px;
  margin-left: 49px;
  cursor: pointer;
}
.price {
  font-size: 31px;
  font-weight: 400;
  line-height: 38px;
  color: #ffffff;
  margin-left: 286px;
}
.price__text {
  display: inline-block;
}
.price__number {
  display: inline-block;
  font-weight: 600;
}
.sellers {
  padding-top: 47px;
  display: flex;
  flex-direction: column;
}
.seller_title {
  font-weight: 600;
  font-size: 44px;
  color: #2b2626;
  text-align: center;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}
.sellers__btn-wrapper button {
  border-radius: 50%;
  font-size: 26px;
  line-height: 32px;
  cursor: pointer;
  background: none;
  width: 177px;
  height: 91px;
}
button.btn__picks {
  background-color: #10b981;
  color: #fff;
  display: inline-block;
}
.btn__watches {
  font-weight: 600;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 92px;
  margin-bottom: 130px;
}
.product__descr {
  position: relative;
  width: 361px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product__descr-rockerz {
  position: relative;
  height: 438px;
  background-color: #ECFEF4;
  border-radius: 15px;
  width: 100%;
  padding: 0px 21px 21px 21px;
  margin-bottom: 29px;
}
.save {
  position: absolute;
  right: 19px;
  top: 13px;
  width: 100px;
  height: 100px;
  background-color: #10b981;
  border-radius: 50%;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.save > p {
  width: 60%;
  text-align: center;
}
.save__boat {
  background-color: #845EC2;
}
.product__descr__img {
  width: 100%;
  height: 256px;
  display: flex;
  align-items: center;
}
.product__descr__img img {
  display: block;
  object-fit: contain;
  margin: 0 auto;
}
.card__deckr {
  width: 319px;
  height: 164px;
  background-color: #fff;
}
.card__deckr {
  border-radius: 15px;  
}
.card__deckr_title {
  height: 103px;
    padding: 31px 76px 30px 52px;
}
.card__deckr_title > h4 {
  font-size: 21px;
  font-weight: 500;
}
.card__deckr_title > p {
  font-size: 21px;
  font-weight: 600;
}
.star__margine{
  margin-top: 11px;
}
.star {
  display: inline-flex;
}
.star_title {
color: #888888;
font-size: 11px;
line-height: 35px;
display: inline-flex;
}
.btn__add__product_descr-rockerz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.product__descr_margin {
  margin-left: 93px;
}
.product__descr-rockerz-324 {
  height: 438px;
  background-color: #C9F2FF;
  border-radius: 15px;
  width: 100%;
  padding: 0px 21px 21px 21px;
  margin-bottom: 29px;
}
.product__descr-rockerz-323 {
  height: 438px;
  background-color: #E5D5FF;
  border-radius: 15px;
  width: 100%;
  padding: 0px 21px 21px 21px;
  margin-bottom: 29px;
}
.title {
  margin-bottom: 120px;
}
.airpod {
  margin-top: 120px;
}
.our {
  display: flex;
  flex-direction: column;
  margin: 66px 0 0 68px;
}
.prices {
  margin: 24px 0 0 0;
}
.circle {
width: 196px;
margin-top: 60px;
}
.arrow {
  width: 48px;
  height: 48px;
  margin: 272px 63px 0 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 1068px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 130px;
}
.action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  gap: 40px;
}
.subscribe_input_label{
    display: flex;
    align-items: center;
    position: relative;
}
.subscribe__btn {
  position: absolute;
    margin-left: 239px;
}
.text {
  width: 289px;
  height: 51px;
  font-size: 16px;
  background-color: #ffffff;
  padding-left: 32px;
  outline: none;
}
.list{
  display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.lists {
  display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 71px;
}
.subscribe{
  font-size: 22px;
  line-height: 29px;
  font-weight: 500;
  width: 236px;
  margin-bottom: 30px;
}
.list-items {
  color: #10b981;
  font-size: 17px;
margin-bottom: 20px;
}
.list__item{
  font-size: 15px;
  margin-bottom: 20px;
}
.links{
  display: flex;
    margin-top: 70px;
    font-size: 15px;
    gap: 39px;
}
.social {
margin-left: 600px;
}

@media (max-width:1140px) {
  .header{
    gap: 34px;
  }
  .searc_input_label{
    width: 200px; 
    margin-left: 0;
}
.searc__input_btn {
  margin-right: -25px;
}
.login__btn {
  width: 425px;
}
nav {
  justify-content: start;
}
.navigations {
  margin-left: 291px;
}
.discover {
  justify-content: flex-start;
  gap: 186px;
}
.discover__title {
  width: 236px;
}
.read_beats {
  margin-left: -139px;}
  .products {
    width: 1140px;
  }
  .product_img {
    width: 587px;
    justify-content: space-around;
  }
  .airpod_3 {
display: none;
  }
  .products_our {
    margin-top: 26px;
  }
  .products_our_h2{
    width: 584px;
  }
  .seller_title {
    width: 1140px; 
}
.tab {
  width: 1140px;
}
.cards {
  width: 1140px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 0 0;
}
.product__descr_margin {
  margin: 15px 0 0 0;
}
.product_img {
  width: 570px;
  margin: 85px 0px 0px 17px;
}
.our {
  margin: 66px 0 0 36px;
  width: 30%;
}
.airpod_2 {
  margin-top: -89px;
}
.products_our_h2 {
  width: 387px;
}
.btn_margine {
  display: flex;
}
.footer {
  margin: 0;}
  .action {
    justify-content: flex-end;
    margin: 45px 0 0 33px;
    font-size: 15px;
}
.links {
  margin-left: 56px;
  margin-bottom: 60px;
  gap: 13px;
}
  }

@media (max-width:960px){
  .header {
    gap: 27px;
  }
  .login__btn {
      width: 376px;
      gap: 5px;
    }
    .basket {
      width: 250px;
      gap: 5px;
    }
.login {
  width: 250px;
}
nav {
  justify-content: start;
}
.navigations {
  margin-left: 209px;
}
.discover {
  gap: 181px;
}
.discover__title-text {
  width: 439px;
}
.lorem {
  width: 433px;
}
.buy {
  margin-top: 23px;
}
.reviews {
  margin-top: 48px;
}
.play {
  margin-bottom: 37px;
}
.read_beats {
  margin-left: -237px;
}
.products {
  width: 960px;
}
.products_our {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0;
}
.product_img {
  width: 452px;
  margin-left: 37px;
}
.products_text {
  margin-left: 22px;
}
.products_our_h2 {
  width: 359px;
}
.products_lorem {
  width: 420px;
    }
    .btn_margine {
      margin: 35px 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }
  .more {
    margin: 0;
  }
  .seller_title {
    width: 960px;
}
.tab {
  width: 960px;
  }
  .cards {
    width: 960px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}
.airpod_2 {
  display: none;
}
.product_img {
  width: 40%;
  margin: 16px 0px 0px 0px;
}
.our {
  width: 50%;
  margin-top: 40px;
  margin-left: 15px;
}
.btn_margine {
  flex-direction: row ;
}
.footer {
  width: 960px;
}
.links {
  gap: 46px;
}
.social {
  margin-left: 388px;
}
}

@media (max-width:720px) {
  .header {
    gap: 60px;
  }
  .login__btn {
    display: none;
  }
  .searc_input_label {
    width: 100%;
  }
  .searc__input_btn {
    margin-right: 40px;
  }
  .navigations {
    margin-left: 116px;
}
.read_beats {
  display: none;
}
.discover {
  margin-top: 40px;
}
.discover__title-text {
  width: 549px;
}
.lorem {
  width: 525px;
}
.buy {
  width: 315px;
}
.play {
  margin-bottom: 0;
}
.seller_title {
  width: 720px;
}
.tab {
  width: 720px;
}
.cards {
  width: 720px;
}
.products {
  width: 721px;
}
.arrow {
  display: none;
}
.product_img {
  justify-content: center;
  gap: 10px;
}
.products_our_h2 {
  width: 295px;
  font-size: 34px;
}
.products_lorem {
  width: 295px;
  font-size: 17px;
  line-height: 25px;
}
.btn_margine {
flex-direction: column;
}
.arrow {
  margin: 232px 37px 0 0;
}
.our {
  width: 40%;
  margin-top: 58px;
  margin-left: 20px;
}
.footer {
  width: 720px;
}
.lists{
  flex-direction: column;
    gap: 18px;
    align-items: center;
    text-align: center;
}
.social {
  margin-left: 138px;
}
}
@media (max-width:661px) {
  .header {
    gap: 19px;}
    .logo_name {
margin-left: 23px;
}
.play {
  margin-bottom: 0;
}
.navigations {
  margin-left: 69px;
}
.discover {
  margin: 0;
  margin: 40px 25px;
}
.discover__title {
  width: 100%;
}
.reviews {
  margin-top: 40px;
  margin-left: 133px;
}
.buy {
  width: 584px;
}
.play {
  display: none;
}
.airpod_2 {
  display: none;
}
.products_our_h2 {
  font-size: 34px;
}
.products_text {
  margin-left: 22px;
  width: 489px;
  margin-top: 18px;
}
.product_img {
  width: 229px;
}
.products_lorem {
  width: 353px;
  font-size: 15px;
  line-height: 25px;
}
.seller_title {
  width: 670px;
}
.tab {
  width: 670px;
}
.cards {
  width: 670px;
}
.products {
  width: 661px;
}
.product_img {
  margin-left: 15px;
}
.our {
  width: 50%;
}
.arrow{
  display: none;
}
.footer {
  width: 660px;
}

.list {
  align-items: center;
  flex-direction: column;
  gap: 39px;
}
.action {
  justify-content: center;
}
.lists {
  display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
}
.list__item {
  list-style-type: none;
}
.links {
  gap: 46px;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

}
.subscribe {
  width: 100%;

}
.social {
  margin-left: 0;
}
}

@media (max-width:564px) {
  .header {
    gap: 49px;
  }
  .logo_name {
    margin-left: 84px;
  }
    .searc_input_label {
      width: 25px;
    }
      .placeholder {
        width: 163px;
        padding-left: 9px;
      }
        .searc__input_btn {
          margin-right: -143px;
        }
        .navigations {
          margin-left: 45px;
          gap: 49px;
        }
        .discover__title-text {
          width: 536px;
          font-size: 60px;
        }
        .lorem {
            width: 506px;
        }
        .buy {
          width: 491px;
        }
        .reviews {
          margin-left: 71px;
        }
        .play {
          display: none;
        }
        .product_img {
          margin-top: auto;
  margin-left: 0;
        }
        .products_lorem {
          width: 300px;
        }
        .btn_margine {
        margin: 19px 0 0 0;
        }
        .price {
          margin-left: 258px;
      }
      .seller_title {
        width: 570px;
    }
    .tab {
      width: 570px;
  }
  .cards {
    width: 570px;
  }
  .products {
    width: 564px;
}
.airpod {
  margin-left: 15px;

}
.products_our_h2 {
  font-size: 24px;
}
.products_lorem {
  width: 276px;
}
.price {
  margin-left: 0;
}
.circle {
  width: 196px;
  margin-top: 22px;
}
.btn_margine {
  margin: 45px 0 0 0;
}
.footer {
  margin: 0;
}
  .action {
    justify-content: flex-start;
    margin: 45px 0 0 33px;
    font-size: 15px;
  }
  .footer {
    width: 560px;
  }
}