.close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: #10b981;
  border: none;
  color: #fff;
  font-size: 25px;
  transition: all ease 0.3;
  cursor: pointer;
}
.close:hover {
  background-color: #0e7a56;
  transition: all ease 0.3;
}
